<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>

{{ range site.Params.favicons }}
  <link 
    rel="{{ .rel }}" 
    {{ with .type }}type="{{ . }}"{{ end }}
    {{ with .size }}sizes="{{ . }}"{{ end }}
    href="{{ .href | absURL }}"
  />
{{ end }}

<link rel="manifest" href="{{ "manifest.json" | absURL }}">

{{/* |===========| START: SW JS |===========| */}}
<script defer>
  if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
          navigator.serviceWorker.register('{{ "sw.js" | relURL }}', { scope: '{{ .Site.BaseURL | relURL | strings.TrimSuffix "/" }}/' }).then(reg => {
              console.log('Service worker registered with scope: ', reg.scope);
          }).catch(err => {
              console.log('Service worker registration failed: ', err);
          });
      });
  }
</script>
{{/* |===========| END: SW JS |===========| */}}