{{- /*
For a given taxonomy, renders a list of terms assigned to the page.

@context {page} page The current page.
@context {string} taxonomy The taxonomy.

@example: {{ partial "components/terms.html" (dict "taxonomy" "tags" "page" .) }}
*/}}

{{- $page := .page }}
{{- $taxonomy := .taxonomy }}

{{- with $page.GetTerms $taxonomy }}
  {{- $label := (index . 0).Parent.LinkTitle }}
  <nav class="terms" style="margin-block-start: 2rem;">
    <strong class="terms__label">{{ $label }}</strong>
    <div class="terms__list">
      {{- range . }}
        <a href="{{ .RelPermalink }}" class="terms__link">
          {{ if in $taxonomy "tags" }}#{{ end }}{{ .Name }}
        </a>
      {{- end }}
    </div>
  </nav>
{{- end }}