@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;
@use '../abstracts/spacing' as s;

.brand {
  @include m.flex-justify(start, center);
  gap: 0.5rem;

  &__logo {
    @include m.size(50px);
  }

  &__emoji {
    font-size: v.$text-10xl;
  }

  &__title {
    font-size: v.$text-10xl;
    font-family: v.$font-serif;
    color: var(--color-accent-default);
  }
}