.callout {
  border: 1px solid var(--callout-border);
  background-color: var(--callout-bg);
  display: block;
  margin: 1rem;

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-bottom: 1px solid var(--callout-border);
    color: var(--callout-color);
    margin-bottom: -1px;
    cursor: pointer;
  }

  &__body {
    padding: 1rem;
  }
}
