@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../abstracts/spacing' as s;

.tree {
  @include s.px(2);

  &__btn {
    @include m.flex-justify(space-between, center);
    @include s.py(1);

    font-weight: 600;
    color: var(--color-text-title);

    width: 100%;

    &--isOpen {
      .bi {
        transform: rotate(90deg);
      }
    }
  }

  &__children {
    @include s.pl(4);
    @include s.ml(1);

    border-inline-start: 1px solid var(--color-border-second);
    display: none;

    &--isOpen {
      display: block;
    }
  }

  &__link {
    @include m.text-ellipsis;
    @include s.py(1);
    
    font-size: v.$text-sm;
    display: block;
    color: var(--color-text-muted);
    
    &--isActive {
      color: var(--color-accent-default);
      border-block-end: 1px dashed var(--color-accent-default);
    }
  }
}