// SYNTAX HIGLIGHT
.bg {
  color: var(--fg);
  background-color: var(--bg);
}

.chroma {
  color: var(--fg);
  background-color: var(--bg);

  .lnlinks {
    outline: none;
    text-decoration: none;
    color: inherit;
  }
  :is(.lntd, .lntable) {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: top;
    border-spacing: 0;
  }

  :is(.lnt, .ln) {
    white-space: pre;
    -webkit-user-select: none;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
  }

  .err {
    color: var(--err);
    background-color: var(--err-fg, transparent);
  }
  .hl {
    background-color: var(--hl);
  }

  :is(.lnt, .ln) {
    color: var(--lnt);
  }
  :is(.k, .kd, .kn, .kr, .kt) {
    color: var(--k);
  }
  .kc {
    color: var(--kc);
  }
  .nc {
    color: var(--nc);
    font-weight: bold;
  }
  .no {
    color: var(--no);
    font-weight: bold;
  }
  .nd {
    color: var(--nd);
    font-weight: bold;
  }
  .ni {
    color: var(--ni);
  }
  .ne {
    color: var(--ne);
    font-weight: bold;
  }
  .nl {
    color: var(--nl);
    font-weight: bold;
  }
  .nn {
    color: var(--nn);
  }
  .nx {
    color: var(--nx, inherit);
  }
  .py {
    color: var(--py, inherit);
  }
  .nt {
    color: var(--nt);
  }
  .nb {
    color: var(--nb, inherit);
  }
  .bp {
    color: var(--bp, inherit);
  }
  :is(.nv, .vc, .vg, .vi, .vm) {
    color: var(--nv, inherit);
  }
  :is(.nf, .fm) {
    color: var(--nf);
    font-weight: bold;
  }
  :is(
      .l,
      .s,
      .sb,
      .sc,
      .sd,
      .s2,
      .si,
      .sx,
      .s1,
      .ss,
      .m,
      .mb,
      .mf,
      .mh,
      .mi,
      .il,
      .mo
    ) {
    color: var(--l);
  }

  :is(.sa, .se, .sh, .sr, .dl) {
    color: var(--sa);
  }

  :is(.o, .ow) {
    color: var(--o);
    font-weight: bold;
  }
  .p {
    color: var(--fg);
  }
  :is(.c, .ch, .cm, .c1, .cs, .cp, .cpf) {
    color: var(--c);
    font-style: italic;
  }
  :is(.cs, .cp, .cpf) {
    font-weight: bold;
  }
  .gd {
    color: var(--gd);
    background-color: var(--gd-bg, transparent);
  }
  .gi {
    color: var(--gi);
    background-color: var(--gi-bg, transparent);
  }
  :is(.go, .gp) {
    color: var(--go);
  }
  .w {
    color: var(--w);
  }
  .gl {
    text-decoration: underline;
  }
  .line {
    display: flex;
  }
  .gs {
    font-weight: bold;
  }
  .ge {
    font-style: italic;
  }
  :where(.gh, .gu) {
    color: var(--kc, inherit);
    font-weight: bold;
  }
}
