@use '../abstracts/breakpoints' as b;
@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;

// HEADING
:where(h1, h2, h3, h4, h5, h6, .h) {
  display: inline-flex;
  width: 100%;
  gap: 1rem;
  color: var(--color-text-title);
  line-height: 1.75;
  margin-block-start: 1.5rem;
  margin-block-end: 1rem;
  border-block-end: 1px solid var(--color-border-default);
  text-shadow: var(--color-text-shadow-default);

  &:hover {
    text-shadow: var(--color-text-shadow-hover);
  }
}

.h {
  .h__anchor {
    visibility: hidden;
    opacity: 0;
  }

  &:hover {
    .h__anchor {
      visibility: visible;
      opacity: 1;
    }
  }
}

:is(h1, .h1) {
  font-size: v.$text-5xl;
  .bi {
    @include m.size(v.$text-5xl);
  }
}
:is(h2, .h2) {
  font-size: v.$text-4xl;
  .bi {
    @include m.size(v.$text-4xl);
  }
}
:is(h3, .h3) {
  font-size: v.$text-3xl;
  .bi {
    @include m.size(v.$text-3xl);
  }
}
:is(h4, .h4) {
  font-size: v.$text-2xl;
  .bi {
    @include m.size(v.$text-2xl);
  }
}
:is(h5, .h5) {
  font-size: v.$text-xl;
  .bi {
    @include m.size(v.$text-xl);
  }
}
:is(h6, .h6) {
  font-size: v.$text-lg;
  .bi {
    @include m.size(v.$text-lg);
  }
}

// MARKDOWN ARTICLE IN MAIN
main {
  line-height: 1.6;
  padding-inline: 1rem;
  max-width: 100%;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;

  p {
    margin-block: 1.5rem;
  }

  :where(a, .link) {
    color: var(--color-link-default);
    text-decoration: underline;

    .bi {
      @include m.size(0.7rem);
    }
    &:hover {
      color: var(--color-link-hover);
    }
  }

  .link {
    &--broken {
      color: var(--color-link-broken-default);

      &:hover {
        color: var(--color-link-broken-hover);
      }
    }

    &--external {
      color: var(--color-link-external-default);

      &:hover {
        color: var(--color-link-external-hover);
      }
    }
  }

  ul,
  ol {
    padding-inline-start: 1.5rem;
    margin: 1rem 0;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul li,
  ol li {
    margin: 0.5em 0;
  }

  ul ul,
  ol ol,
  ul ol,
  ol ul {
    margin: 0.3rem 0;
    padding-inline-start: 1.5rem;
  }
}

// DEL
del {
  color: var(--color-text-muted);
}

// TABLE
.table-container {
  @include m.custom-scrollbar;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 1.5rem 0;
  border-radius: 0.25rem;
  box-shadow: var(--color-shadow-default);
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 65ch;
  background-color: var(--color-bg-default);
}

thead {
  background-color: var(--color-bg-second);
}

th {
  text-align: left;
  padding: 1rem 1.5rem;
  font-weight: 600;
  color: var(--color-text-muted);
  border-bottom: 2px solid var(--color-border-default);
  white-space: nowrap;
}

td {
  padding: 1rem 1.5rem;
  border-bottom: 2px solid var(--color-border-default);
  color: var(--color-text-muted);
  white-space: nowrap;
}

tbody tr:hover {
  background-color: var(--color-bg-second);
  transition: background-color 0.2s ease-in-out;
}

tbody tr:nth-child(even) {
  background-color: var(--color-bg-second);
}
