/* =====================
   BREAKPOINTS
   ===================== */
$breakpoints: (
  
);

/* =====================
   FONT FAMILY
   ===================== */
$font-sans: ;
$font-serif: ;
$font-mono: ;

/* =====================
   TYPE SCALE FONT SIZE
   ===================== */
$scale: ;
$text-base: ;


$text-xs: ;
$text-2xs: ;
$text-3xs: ;
$text-sm: ;
$text-lg: ;
$text-xl: ;
$text-2xl: ;
$text-3xl: ;
$text-4xl: ;
$text-5xl: ;
$text-6xl: ;
$text-7xl: ;
$text-8xl: ;
$text-9xl: ;
$text-10xl: ;
