{{- define "main" }}
  {{- if in (slice "home" "page") .Kind  }}
    <h1 class="main__title h h--h1">{{ .Title }}</h1>
    {{ partial "layouts/content" . }}
    
    <nav>
      <a href="{{ site.Params.ghrepo }}/edit/main/content/{{ .Page.File.Path }}" target="_blank" rel="noopener noreferrer">
        ✏️ Edit Page
      </a>
    </nav>
  {{- else if in (slice "section" "taxonomy" "term") .Kind }}
    <h1 class="main__title h h--h1">{{ .Title }}</h1>
    {{ partial "layouts/content" . }}

    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{- else }}
    {{- errorf "Unsupported page kind: %s" .Kind }}
  {{- end }}
{{- end }}
