{{- define "main" }}
  {{- if in (slice "home" "page") .Kind  }}
    <h1 class="main__title heading heading--h1">{{ .Title }}</h1>
    {{ partial "layouts/content" . }}
  {{- else if in (slice "section" "taxonomy" "term") .Kind }}
    <h1 class="main__title heading heading--h1">{{ .Title }}</h1>
    {{ partial "layouts/content" . }}

    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{- else }}
    {{- errorf "Unsupported page kind: %s" .Kind }}
  {{- end }}
{{- end }}
