{{- define "main" }}
  <h1 class="main__title h h--h1">{{ .Title }}</h1>
  {{ partial "layouts/content" . }}

  {{- if in (slice "home" "page") .Kind  }}
    <nav class="content-nav">
      {{ partial "components/edit_page" . }}
      {{ partial "components/pager" . }}
    </nav>
  {{- else if in (slice "section" "taxonomy" "term") .Kind }}
    <ul>
      {{ range .Pages }}
        <li>
          <a href="{{ .RelPermalink }}">
            {{ .LinkTitle }}
          </a>
        </li>
      {{ end }}
    </ul>
  {{- else }}
    {{- errorf "Unsupported page kind: %s" .Kind }}
  {{- end }}
{{- end }}
