{{- $isWikilink := eq .Destination "wikilinks" -}}
{{- $isExternal := or (strings.HasPrefix .Destination "http://")
                       (strings.HasPrefix .Destination "https://")
                       (strings.HasPrefix .Destination "mailto:") -}}

{{ if $isWikilink }}
  {{/* --- Wikilink handling --- */}}
  {{ $rawTitle := cond (ne .Title "") .Title .Text }}
  {{ $target := $rawTitle | lower | urlize }}
  {{ $parts := split $target "#" }}
  {{ $pagePath := index $parts 0 }}
  {{ $anchor := "" }}
  {{ if gt (len $parts) 1 }}
    {{ $anchor = printf "#%s" (index $parts 1) }}
  {{ end }}

  {{ $page := or (.Page.Site.GetPage $pagePath) (.Page.Site.GetPage (printf "/%s" $pagePath)) }}


  {{ if $page }}
    <a class="link link--internal" href="{{ $page.RelPermalink }}{{ $anchor }}">
      {{ .Text | safeHTML }}
      {{ partial "components/icon" (dict "name" "folder-symlink") }}
    </a>
  {{ else }}
    {{/* Alias detection for wikilink */}}
    {{ $aliasPage := "" }}
    {{ range .Page.Site.Pages }}
      {{ if in .Aliases $target }}
        {{ $aliasPage = . }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $aliasPage }}
      <a class="link link--internal" href="{{ $aliasPage.RelPermalink }}{{ $anchor }}">
        {{ .Text | safeHTML }}
        {{ partial "components/icon" (dict "name" "folder-symlink") }}
      </a>
    {{ else }}
      <span class="link link--broken" title="Page not found (yet)">
        {{ .Text | safeHTML }} 
        {{ partial "components/icon" (dict "name" "x-circle") }}
      </span>
    {{ end }}
  {{ end }}

{{ else if not $isExternal }}
  {{/* --- Internal markdown links + alias support --- */}}
  {{ $dest := .Destination }}
  {{ $parts := split $dest "#" }}
  {{ $pagePath := index $parts 0 }}
  {{ $anchor := "" }}
  {{ if gt (len $parts) 1 }}
    {{ $anchor = printf "#%s" (index $parts 1) }}
  {{ end }}
  {{ $page := or (.Page.GetPage $pagePath) (.Page.Site.GetPage (printf "/%s" $pagePath)) }}


  {{ if $page }}
    <a class="link link--internal" href="{{ $page.RelPermalink }}{{ $anchor }}">
      {{ .Text | safeHTML }}
      {{ partial "components/icon" (dict "name" "folder-symlink") }}
    </a>
  {{ else }}
    {{/* Alias detection for markdown link */}}
    {{ $aliasPage := "" }}
    {{ range .Page.Site.Pages }}
      {{ if in .Aliases $dest }}
        {{ $aliasPage = . }}
        {{ break }}
      {{ end }}
    {{ end }}
    {{ if $aliasPage }}
      <a class="link link--internal" href="{{ $aliasPage.RelPermalink }}{{ $anchor }}">
        {{ .Text | safeHTML }}
        {{ partial "components/icon" (dict "name" "folder-symlink") }}
      </a>
    {{ else }}
      <span class="link link--broken" title="Page not found (yet)">
        {{ .Text | safeHTML }}
        {{ partial "components/icon" (dict "name" "x-circle") }}
      </span>
    {{ end }}
  {{ end }}

{{ else }}
  {{/* --- External links --- */}}
  <a 
    class="link link--external" 
    href="{{ .Destination | safeURL }}"
    rel="external noopener noreferrer nofollow" 
    target="_blank"
    >
     {{ .Text | safeHTML }}
     {{ partial "components/icon" (dict "name" "box-arrow-up-right") }}
  </a>
{{ end }}