<div class="bottom-bar">
  <button data-sidebar="sidebarLeft" class="bottom-bar__btn">
    {{ partial "components/icon" (dict "name" "list") }}
  </button>

  <button class="bottom-bar__btn" data-theme-toggle>
    {{ partial "components/icon" (dict "name" "sun") }}
    {{ partial "components/icon" (dict "name" "moon-stars") }}
  </button>

  <a href="{{ site.BaseURL | relURL }}" class="bottom-bar__btn">
    {{ partial "components/icon" (dict "name" "house") }}
  </a>

  <button data-modal="searchBar" class="bottom-bar__btn">
    {{ partial "components/icon" (dict "name" "search") }}
  </button>

  <button data-sidebar="sidebarRight" class="bottom-bar__btn">
    {{ partial "components/icon" (dict "name" "book") }}
  </button>
</div>
