<header class="header">

  <nav class="header__left-col">
    {{ partial "components/brand" . }}
  </nav>

  <div class="header__center-col">
    <button 
      class="header__btn header__btn--search-open" 
      data-modal="searchBar"
    >
      {{ partial "components/icon" (dict "name" "search") }}
      <span>Search...</span>
    </button>
  </div>

  <nav class="header__right-col">
    {{ range site.Params.social }}
      <a 
        href="{{ .url }}" 
        target="_blank" 
        rel="noopener noreferrer" 
        aria-label="{{ .name }}"
        class="header__btn"
      >
        {{ partial "components/icon" (dict "name" .icon ) }}
      </a>
    {{ end }}

    <button class="header__btn header__btn--switch-theme" data-theme-toggle aria-label="Switch Theme">
      {{ partial "components/icon" (dict "name" "sun") }}
      {{ partial "components/icon" (dict "name" "moon-stars") }}
    </button>

    <button data-sidebar="sidebarRight" class="header__btn header__btn--left-side" aria-label="Sidebar Right Open">
      {{ partial "components/icon" (dict "name" "book") }}
    </button>
  </nav>
</header>
