<aside id="sidebarRight" class="sidebar sidebar--right">
  <header class="sidebar__header">
    <strong class="sidebar__title">On This Page</strong>
    <button data-sidebar="sidebarRight">
      {{ partial "components/icon" (dict "name" "x") }}
    </button>
  </header>

  {{- if in (slice "home" "page") .Kind }}
    {{ if .Params.toc | default site.Params.toc | default true }}
      {{ .TableOfContents }}
    {{ end }}

    {{ range $taxonomy := site.Params.showTaxonomies }}
      {{ partial "components/terms.html" (dict 
        "taxonomy" $taxonomy 
        "page" $.Page 
      ) }}
    {{ end }}

  {{ end }}
</aside>