<aside id="sidebarLeft" class="sidebar sidebar--left">
  <header class="sidebar__header">
    {{ partial "components/brand" . }}
    <button data-sidebar="sidebarLeft">
      {{ partial "components/icon" (dict "name" "x") }}
    </button>
  </header>
  <nav class="sidebar__navigation">

    {{ if site.Params.menuEnable | default true }}
      {{ partial "components/menu.html" (dict "menuID" "main" "page" .) }}
    {{ end }}

    {{ if site.Params.treeNavEnable | default true }}
      {{ partial "components/tree_nav" . }}
    {{ end }}
    
  </nav>
</aside>