@use '../abstracts/mixins' as m;
@use '../abstracts/spacing' as s;

.main {
  @include s.px(4);
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100dvh;
}

.overlay {
  @include m.full-screen;
  @include m.transition(opacity, visibility);
  background-color: var(--color-bg-overlay);
  opacity: 0;
  visibility: hidden;
  z-index: 900;

  &--isActive {
    opacity: 1;
    visibility: visible;
  }
}