@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../abstracts/spacing' as s;

.bottom-bar {
  @include m.flex-justify(space-between, center);
  @include s.px(5);
  border-top: 1px solid var(--color-border-default);
  position: fixed;
  inset-block-end: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--color-bg-second);

  &__btn {
    @include s.p(3);
    @include m.border-default();
    @include m.flex-justify(center, center);
    background-color: var(--color-bg-default);

    .bi {
      @include m.size(v.$text-4xl);
    }

    &[data-theme-toggle] {
      .bi-sun {
        display: inline-flex;
      }
      .bi-moon-stars {
        display: none;
      }
      &.isDark {
        .bi-moon-stars {
          display: inline-flex;
        }
        .bi-sun {
          display: none;
        }
      }
    }
  }
}
