@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../abstracts/spacing' as s;

.footer {
  @include s.pb(24);
  @include s.px(4);

  display: grid;
  gap: 4rem;

  &__content-info {
    @include s.pt(4);
    border-block-start: 1px solid var(--color-border-default);
    display: flex;
    flex-direction: column;
    font-size: v.$text-sm;
    color: var(--color-text-muted);
  }

  &__copyright {
    @include m.flex-justify(center, center);
    
    text-align: center;
    flex-direction: column;

    a {
      color: var(--color-link-external-default);
      font-weight: 700;

      &:hover {
        color: var(--color-link-external-hover);
      }
    }
  }
}
