@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../abstracts/spacing' as s;

.header {
  @include m.flex-justify(space-between, center);
  @include s.px(4);
  @include s.py(2);
  background-color: var(--color-bg-second);
  border-bottom: 1px solid var(--color-border-default);

  &__right-col {
    display: none;
  }

  &__btn {

    &--search-open {
      display: none;
    }
  }
}