@use '../abstracts/mixins' as m;
@use '../abstracts/variables' as v;
@use '../abstracts/spacing' as s;

.sidebar {
  @include m.transition(visibility, opacity);
  @include m.custom-scrollbar();
  @include m.width-height(20rem, 100dvh);
  @include s.p(4);

  position: fixed;
  inset-block-start: 0;
  z-index: 1000;
  visibility: hidden;
  overflow-y: auto;

  &__header {
    @include m.flex-justify(space-between, center);

    .bi-x {
      @include m.size(v.$text-4xl);

      color: var(--color-text-title);
    }
  }
  
  &--left {
    inset-inline-start: 0;
    background-color: var(--color-bg-second);
    border-inline-end: 1px solid var(--color-border-default);
    transform: translateX(-100%);
  }
  
  &--right {
    border-inline-start: 1px solid var(--color-border-default);
    inset-inline-end: 0;
    background-color: var(--color-bg-default);
    transform: translateX(100%);
  }

  &--isOpen {
    visibility: visible;
    transform: translateX(0%);
  }
}