$dark: (
  color-bg-default: ,
  color-bg-second: ,
  color-bg-overlay: ,
  
  color-text-title: ,
  color-text-default: ,
  color-text-muted: ,
  
  color-border-default: ,
  color-border-second: ,
  
  color-accent-default: ,
  color-accent-hover: ,
  
  color-link-default: ,
  color-link-hover: ,
  
  color-link-external-default: ,
  color-link-external-hover: ,
  
  color-link-broken-default: ,
  color-link-broken-hover: ,
  
  color-shadow-sm: rgba(0, 0, 0, 0.5),
  color-shadow-md: rgba(0, 0, 0, 0.6),
  color-shadow-lg: rgba(0, 0, 0, 0.7),
);