$dark: (
  color-bg-default: #09090b,
  color-bg-second: #18181b,
  color-bg-overlay: rgba(0, 0, 0, 0.8),
  
  color-text-title: #fafafa,
  color-text-default: #e4e4e7,
  color-text-muted: #a1a1aa,
  
  color-border-default: #27272a,
  color-border-second: #3f3f46,
  
  color-accent-default: #22c55e,
  color-accent-hover: #16a34a,
  
  color-link-default: #22c55e,
  color-link-hover: #16a34a,
  
  color-link-external-default: #3b82f6,
  color-link-external-hover: #2563eb,
  
  color-link-broken-default: #ef4444,
  color-link-broken-hover: #dc2626,
  
  color-shadow-sm: rgba(0, 0, 0, 0.5),
  color-shadow-md: rgba(0, 0, 0, 0.6),
  color-shadow-lg: rgba(0, 0, 0, 0.7),
);