$light: (
  color-bg-default: #fafafa,
  color-bg-second: #f4f4f5,
  color-bg-overlay: rgba(0, 0, 0, 0.5),
  
  color-text-title: #09090b,
  color-text-default: #27272a,
  color-text-muted: #52525b,
  
  color-border-default: #e4e4e7,
  color-border-second: #d4d4d8,
  
  color-accent-default: #059669,
  color-accent-hover: #047857,
  
  color-link-default: #059669,
  color-link-hover: #047857,
  
  color-link-external-default: #2563eb,
  color-link-external-hover: #1d4ed8,
  
  color-link-broken-default: #dc2626,
  color-link-broken-hover: #b91c1c,
  
  color-shadow-sm: rgba(0, 0, 0, 0.5),
  color-shadow-md: rgba(0, 0, 0, 0.6),
  color-shadow-lg: rgba(0, 0, 0, 0.7),
);