$light: (
  color-bg-default: #ffffff,
  color-bg-second: #f8f8f8,
  color-bg-overlay: rgba(255, 255, 255, 0.9),
  color-text-title: #0a0a0a,
  color-text-default: #262626,
  color-text-muted: #52525b,

  color-border-default: #e5e5e5,
  color-border-second: #d6d6d6,

  color-bg-accent-default: #0a6c2e,
  color-bg-accent-hover: #063517,

  color-accent-default: #10b981,
  color-accent-hover: #059669,

  color-link-default: #10b981,
  color-link-hover: #059669,

  color-link-external-default: #3b82f6,
  color-link-external-hover: #2563eb,

  color-link-broken-default: #ef4444,
  color-link-broken-hover: #dc2626,

  color-shadow-default: '0 1px 3px rgba(0, 0, 0, 0.08)',
  color-shadow-hover: '0 4px 6px rgba(0, 0, 0, 0.12)',

  color-text-shadow-default: '0 1px 1px rgba(0, 0, 0, 0.05)',
  color-text-shadow-hover: '0 2px 2px rgba(0, 0, 0, 0.1)',
);
